<head>
    <meta charset="utf-8">
    <title>ProGrammar</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@200;400;500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="tools.js"></script>
    <script src="clauses.js"></script>
    <script src="wordTypes.js"></script>
    <script src="generate.js"></script>

    <style>
        .ff-1 {
            font-family: 'IBM Plex Sans'
        }

        .ff-mono {
            font-family: 'IBM Plex Mono'
        }


        label {
            display: block;
            margin-top: 2px;
        }

        .td1 {
            transition-duration: .15s;
        }
    </style>
</head>

<body class="mw6 center mt3 ff-1 ">
    <h1 class="dark-gray f1"><span class="fw3">Pro</span><span class="fw6">Grammar</span></h1>
    <div class="dib v-top">
        <fieldset class="br1 mw5 ba b--black-30">
            <legend class="">
                <button class="td1 ba b--black-30 hover-bg-black pv1 bg-dark-blue ph2 br1 white"
                    onclick="generate()">Generate
                    sentence</button>
            </legend>
            <div id="result" class="h4 w5 ff-mono f6 pa2 br1 mt1">&nbsp;</div>
        </fieldset>
    </div>

    <div class="dib ">
        <fieldset class="br1 mw5 ba b--black-30">
            <legend class="bg-dark-gray white ph1 pv1 br1">new
                <select class="bg-inherit white bn" id="wordType">
                    <option value="noun">noun</option>
                    <option value="verb">verb</option>
                    <option value="adverb">adverb</option>
                </select>
            </legend>

            <div id="nounBox" class="tr">
                <label>Base <input class="w4" id="nounBase" v-model="base" placeholder="noun"></label>
                <label>Plural <input class="w4" id="plural" v-model="plural" placeholder="nouns"></label>
                <label>Countable <input type="checkbox" id="countable" v-model="countable"></label>
                <label>Proper name <input type="checkbox" id="proper" v-model="proper"></label>
            <button class="td1 ml-auto mr0 db mt2 b--black-30 hover-bg-black pv1 bg-dark-blue ph2 br1 white" v-on:click="add">Add</button>
            </div>
        </fieldset>
    </div>
</body>

<script>
    const inTypes = { text: 0, checkbox: 1, radio: 2 };

    var nounTemplate = [
        { key: 'base', label: 'Base', type: inTypes.text },
        { key: 'plural', label: 'Plural', type: inTypes.text },
        { key: 'proper', label: 'Proper name', type: inTypes.checkbox },
        { key: 'countable', label: 'Countable', type: inTypes.checkbox }
    ];
    var verbTemplate = [
        { key: 'base', label: 'Base', type: inTypes.text },
        { key: 'thirdPres', label: 'Singular third person present', type: inTypes.text },
        { key: 'trans', labels: ['Transitive', 'Intransitive', 'Ergative'], type: inTypes.radio }
    ];
    var submitInd = 0;

    function renderInputs(template, onSubmit, parentEl, target = {}, submitLabel = 'Submit') {
        
    }


    new Vue({
        el: '#nounBox',
        data: {
            base: '',
            plural: '',
            countable: true,
            proper: false
        },
        methods: {
            add: function () {
                new Noun({ base: this.base, plural: this.plural, countable: this.countable, proper: this.proper });
            }
        }
    });
</script>
